body{
    background-color:#F8F8F8;
}

nav ul{
    width:100%;
}

nav li {
    width:33%;
    text-align:center;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #f8f9fa;
    text-align:center;
}
